<div class="bg-img-about site" id="page">
  <!-- Options headline effects: .rotate | .slide | .zoom | .push | .clip -->
  <div class="hero-section hero-section--image clip">
    <div class="hero-section__wrap">
      <div class="container">
        <div class="fb-container">
          <div class="fb-item">
            <p class="p_font text-center">Wilton Agencies is a proudly South African-based import-export company. Our expertise
              is to source international contacts commercially and domestically in various product ranges, stemming from
              industrial requirements to domestically affiliated products.</p>
          </div>
          <div class="fb-item-thin">
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="fb-container">
          <div class="fb-item-thin">
          </div>
          <div class="fb-item ">
            <p class="p_font text-center">We strive to offer more than just import and export or supply chain-related services.
              We pride ourselves as ethical and professional and undertake to present you with the best possible
              solutions tailored to your needs, focusing on building long-term sustainable business relationships. </p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
