<div class="bg-img-prod site" id="page">
  <!-- Options headline effects: .rotate | .slide | .zoom | .push | .clip -->
  <section class="hero-section hero-section--image clearfix clip">
    <div class="hero-section__wrap">
      <div class="container">
        <h3 class="text-center">Power South Africa Initiative</h3>
        <div class="fb-container">
          <div class="fb-item ">
            <p class="p_font text-center">We have recently partnered with local and international companies to
              facilitate the
              supply and distribution of inverters as an alternative to fuel-based power generation. Contact
              us to find out more. </p>
          </div>
        </div>
        <div class="text-center">
          <a type="button" class="btn btn-lg btn-outline-light nav_font" data-bs-toggle="modal"
            data-bs-target="#dom_modal">AH Systems</a>
          <a type="button" class="btn btn-lg btn-outline-light nav_font" data-bs-toggle="modal"
            data-bs-target="#movigen_modal">MoviGEN</a>
            <a type="button" class="btn btn-lg btn-outline-light nav_font" data-bs-toggle="modal"
            data-bs-target="#com_modal">Commercial</a>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container p-4">
  <h2 class="text-center text-light">
    Partners
  </h2>
  <div class="fb-container">
    <div class="fb-item-partners">
      <img class="center" type="image/svg" width="400px;" src="{% static 'svg/amp.svg' %}" />
    </div>
    <div class="fb-item-partners" style="padding: 80px;">
      <img class="center" type="image/svg" width="400px;" src="{% static 'svg/gen.svg' %}" />
    </div>
  </div>
</div>
<div class="modal fade faded-bk" id="dom_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- AH -->
        <div class="container">
          <div class="fb-container">
            <div class="fb-item-prod">
              <img class="img-fluid img-thumbnail" type="image/png" src="{% static 'imgs/prod/dom.png' %}" />
              <img class="img-fluid img-thumbnail" type="image/png" src="{% static 'imgs/prod/doma.png' %}" />
              <img class="img-fluid img-thumbnail" type="image/png" src="{% static 'imgs/prod/domb.png' %}" />
            </div>
            <div class="fb-item-prod">
              <h3>AH-RESITM</h3>
              <h4>Residential Battery Energy Storage System</h4>
              <p class="p-font">
                <br> (BESS) Series
                Model: RESI-55 (5kVA / 5 kWh)<br>
              </p>
              <p class="p-font">
                AH-RESI Series is an
                intelligent Battery Energy
                Storage System (BESS)
                which is based on stable
                Lithium-Ion Phosphate
                (LiFePO₄) chemistry
                batteries for maximum
                safety and longevity.
              </p>
              <p class="p-font">It is an
                integrated system of Battery
                Pack + Inverter + Intelligent
                Controller.</p>
              <p class="p-font">
                It’s sleek and ergonomic
                design combined with ease
                of handling and “plug &
                play” architecture makes it
                an ideal choice for
                residential Energy Storage
                Application.
              </p>
              <p class="p-font">
                The system is designed to
                be charged by solar system,
                along with electric grid, DG
                set or any other AC power
                source.</p>
            </div>
          </div>
        </div>
        <!-- AH END -->

        <!-- AH-Stack -->
        <div class="container">
          <div class="fb-container">
            <div class="fb-item-prod">
              <img class="img-fluid img-thumbnail" type="image/png" src="{% static 'imgs/prod/com.png' %}" />
              <img class="img-fluid img-thumbnail" type="image/png" src="{% static 'imgs/prod/domd.png' %}" />
            </div>
            <div class="fb-item-prod">
              <h3>AH-Stack</h3>
              <h4>A plug-and-play
                energy storage solution</h4>
              <p class="p-font">
                AH-Stack is a flexible, modular, plug-and-play battery energy storage solution for a wide variety of
                applications ranging from 25kW - 2 hour systems to 25 MW – 4 hours systems.
              </p>
              <p class="p-font">
                AHE utilizes the best batteries and electronics from its wide range of partners to create the best
                AH-Stack configuration that minimizes the levelized cost of storage for your application. Additionally,
                AH-Stack comes pre-loaded with AHE’s ELINA-Edge Energy management software that allows you to monitor,
                control, optimize and utilize your asset in the most flexible way possible.
              </p>
            </div>
          </div>
        </div>
        <!-- AH-Stack END -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid modal fade faded-bk" id="movigen_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <!-- movigen -->
        <div class="container">
          <div class="fb-container">
            <div class="fb-item-prod">
              <img class="img-fluid img-thumbnail" type="image/png" src="{% static 'imgs/prod/movigen.png' %}" />
              <img class="img-fluid img-thumbnail" type="image/png" src="{% static 'imgs/prod/movigen1.png' %}" />
            </div>
            <div class="fb-item-prod">
              <h3>MoviGEN</h3>
              <p class="p-font">
                MoviGENTM is a state-of-the-art,
                Mobile ESS solution.
              </p>
              <p class="p-font">
                • Mobile and Towable <br>
                • Plug and Play solution <br>
                • Lithium Ion Battery <br>
                • Lower footprints <br>
                • Inbuilt fire fighting <br>
                • Inbuilt HVAC <br>
                • Inbuilt EMS <br>
                • Online Access and GPS <br>
              </p>
              <br>
              <h4>System Description</h4>
              <p class="p-font">
                • Clean Energy Generator with 20
                kWh of Li-ion batteries<br>
                • Delivers pure quality power with
                true sine wave technology<br>
                • Ensures longevity of power quality
                sensitive devices<br>
                • Integrated Solar PV, Battery
                Protection and HVAC systems<br>
                • Applications include Construction,
                Emergency response and power
                backup<br>
                • IOT enabled with geolocation
                tracking and and energy usage<br>
                • Over the Air (OTA) software
                updates enabled<br>
              </p>
            </div>
          </div>
        </div>
        <!-- movigen end -->
      </div>
    </div>
  </div>
</div>


<div class="container-fluid modal fade faded-bk" id="com_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Commercial -->
        <div class="container">
          <div class="fb-container">
            <div class="fb-item-prod">
              <img class="img-fluid img-thumbnail" type="image/png" src="{% static 'imgs/prod/coma.png' %}" />
              <img class="img-fluid img-thumbnail" type="image/png" src="{% static 'imgs/prod/comb.png' %}" />
            </div>
            <div class="fb-item-prod">
              <h3>Large Scale Commercial Projects</h3>
              <p class="p-font">
                Together with our partners, we can assist you in finding the correct solution to fit your requirements.
              </p>
              <p class="p-font">
                <a class="text-info" href="{% url 'wiltonagencies' 'contact' %}">Contact</a> us for more information.

              </p>
              <p class="p-font">
                If you would like to read more about the cost benefits of battery storage vs fossil fuel, please see this 
                 <a href="{% static 'White-paper_BESS-as-alternative-to-DG.pdf' %}" class="text-info" target="_blank" rel="noopener noreferrer">white paper</a> written by our partners.
              </p>
            </div>
          </div>
        </div>
        <!-- Commercial end -->
      </div>
    </div>
  </div>
</div>