<div class="modal fade" id="add_products" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content border-0">
        <div class="modal-body">
          <div class="p-2">
            <div class="card-body text-center text-dark">
              <h2 class="card-title text-center mb-3 headings-mono">Add Product</h2>
              <div class="card-text text-center headings-mono">
                <form id="product_form" tag="{{tag}}" uid="{{uid}}">
                  {% load crispy_forms_tags %}
                  {{ product_form | crispy }}
                  <input type="submit" class="btn btn-outline-dark" value="Add Product" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>