{% extends 'main.html' %} {% block main %}
<div class="bg-img site" id="page">
    <!-- Options headline effects: .rotate | .slide | .zoom | .push | .clip -->
    <section class="hero-section hero-section--image clearfix clip">
      <div class="hero-section__wrap">
        <div class="container ">
          <div class="row">
            <div class="offset-lg-2 col-lg-8">
              <div class="title-01 title-01--11 text-center">
                <h1 class="text-danger">Website</h1>
                <h1 class="text-danger">Under Construction</h1>  
                <img
                class="center"
                type="image/svg"
                width="20%"
                src="{% static 'svg/uc.svg' %}"
                />
              
                <h2 class="title__heading">
                  <span class="">We do</span>
                  <strong class=" hero-section__words">
                    <span class=" title__effect is-visible">Imports</span>
                    <span class=" title__effect">Exports</span>
                    <span class=" title__effect">Logistics</span>
                    <span class=" title__effect">Consulting</span>
                  </strong>
                </h2>
                <h1 class="s_font">WILTON AGENCIES</h1>
                <div class="title__description ">International Exporting &amp; Importing Agency</div>
                <div class=""></div>
                <!-- Options btn color: .btn-success | .btn-info | .btn-warning | .btn-danger | .btn-primary -->
                <div class=""><a href="https://wiltonagencies.com/contact/"
                    class="btn btn-lg nav_font">Contact us today</a></div>
              </div> <!-- .title-01 -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% include "src/footer.html" %}
{% endblock %}